# Penguins Species Dataset

## Overview

The "Penguins Species" dataset contains information about various penguin species, with measurements related to their physical characteristics. 


## Objective

The objective of analyzing this dataset could be to understand the relationships between the physical characteristics of penguins and their gender, explore patterns or clusters within the data, or build predictive models.

# Import Dependencies

In [9]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler

import matplotlib.pyplot as plt
import seaborn as sns

from scipy.linalg import svd

# 1 Data Overview

#### 1.1 Load the dataset into a dataframe and inital inspection

In [10]:
df = pd.read_csv("../Dataset/penguins_size.csv")
df = df[df['sex'] != '.'] #There is a row where sex = '.', so filtering it out
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 343 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            343 non-null    object
 1   island             343 non-null    object
 2   culmen_length_mm   341 non-null    float64
 3   culmen_depth_mm    341 non-null    float64
 4   flipper_length_mm  341 non-null    float64
 5   body_mass_g        341 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 21.4+ KB